body {background: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);}

.logo {
  width: 100px;
  margin: 31px 0 32px 32px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-content {
  max-width: 500px;
  padding: 0 32px;
  margin: 0 auto;
}

.hero-img {
  background-image: url(../images/hero-mobile.jpg);
  width: 376px;
  height: 250px;
  margin: 0 auto;
}

h1 > span {
  color: var(--clr-dark-pink);
  font-weight: 300;
}

h1 {
  color: var(--clr-dark-brown);
  margin: 64px 0 16px;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 10.8px;
  line-height: 42px;
}

.sub-header {
  font-size: 0.875rem;
  line-height: 22px;
}

.email-sign-up {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid var(--clr-dark-pink);
  border-radius: 28px;
  padding-left: 24px;
  margin-top: 32px;
}

.input-email {
  flex-grow: 2;
  background: transparent;
}

.submit-email {
  padding: 0.8em 2em;
  background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
  border-radius: 28px;
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
}

#exclamation {
  display: none;
  position: absolute;
  top: 13px;
  right: 80px;
}

#emailError {
  display: none;
  color: var(--clr-light-pink);
  margin: 10px 0 0 0;
}